@import url('https://fonts.googleapis.com/css?family=Roboto');

$primaryFont: Nunito, sans-serif;
$whiteFontColor: #FFFFFF
$blueTheme: #67b4f9;
$yellowTheme: #FFD833;
$greyTheme: #585757
$shadowColor: #E9E9E9

$minScreen: 320px;
$maxScreen: 1440px;

html
  margin: 0
  padding: 0
  overflow-x: hidden
body
  overflow-x: hidden
  min-height: 100vh
  position: relative
  margin: 0
  padding-bottom: 8rem
  font-family: Nunito

.headerFont
  font-size: calc(18px + 3vw)
  line-height: 1em

.bodyFont
  font-size: calc(16px + 0.5vw)
  line-height: 1em

.captionFont
  font-size: calc(14px + 0.5vw)
  line-height: 1em
  font-style: italic

.accentText
  display: inline
  color: #ff7400

.yellow-button
  text-decoration: none
  padding: 12px 45px
  border-radius: 40px
  font-weight: 600
  background: #FFD833
  color: black
  text-transform: uppercase

.yellowButton
  border: none;
  text-decoration: none
  padding: 12px 45px
  font-size: 16px
  border-radius: 40px
  font-weight: 600
  background: $yellowTheme
  color: black
  text-transform: uppercase
  max-width: 150px
  text-align: center