///////////////////////////////////////////////////////////////////////////////
// global.sass ////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

///////////////////////
// Import Statements //
// ////////////////////


/////////////////////
// Theme Variables //
/////////////////////

$primaryFont: proxima-nova, sans-serif;
$whiteFontColor: #FFFFFF
$greyFontColor: #696969
$blackFontColor: #343333
$blueTheme: #67b4f9;
$skyBlueTheme: #d3f0ff;
$yellowTheme: #FFD833;
$greyTheme: #DCDCDC
$whiteTheme: #FFFFFF
$shadowColor: #E9E9E9
$shadowHover: #888888


/////////////////
// Breakpoints //
/////////////////
  
$largeBreak: 'max-width: 1200px'
$mobileBreak: 'max-width: 900px'
$midBreak: 'max-width: 800px'
$smallMidBreak: 'max-width: 750px'
$smallBreak: 'max-width: 350px'

$minScreen: 320px;
$maxScreen: 1440px;


////////////////////
// Global Classes //
////////////////////

.headerFont
  font-family: $primaryFont
  font-size: calc(14px + 2vw)
  line-height: 1em

.bodyFont
  font-family: $primaryFont
  font-size: calc(16px + 0.3vw)
  line-height: 1em

.captionFont
  font-family: $primaryFont
  font-size: calc(16px + 0.5vw)
  line-height: 1em
  font-style: italic

.accentText
  display: inline
  color: #ff7400

.yellow-button
  text-decoration: none
  padding: 12px 45px
  border-radius: 40px
  font-weight: 600
  background: #FFD833
  color: black
  text-transform: uppercase

.blueButton
  text-decoration: none
  padding: 13px 20px
  border-radius: 20px
  font-weight: 300
  max-width: 140px
  font-size: 16px
  background: #447ADD
  letter-spacing: 0.05em
  color: white
  text-align: center
  text-transform: uppercase
  &:hover
    background: #285AB7

.yellowButton
  border: none
  text-decoration: none
  padding: 12px 45px
  font-size: 16px
  border-radius: 40px
  font-weight: 600
  background: $yellowTheme
  color: black
  text-transform: uppercase
  max-width: 150px
  text-align: center
  &:hover
    background: linear-gradient(180deg, #FFD833 0%, #F7d233 100%)


////////////////////////////////////////
// Default Settings for html and body //
////////////////////////////////////////

html
  margin: 0
  padding: 0
  overflow-x: hidden
body
  overflow-x: hidden
  min-height: 100vh
  position: relative
  margin: 0
  padding-bottom: 8rem
  font-family: $primaryFont
.slick-track
  z-index: -1
  display: flex !important
  flex-direction: row !important
  justify-content: center !important
  align-items: center
  height: 120px !important
  margin: 0
  @media (max-width: 800px)
    height: 220px !important
  &:hover
    height: 220px !important

.slick-slide
  margin-top: 30px
  &:hover
    z-index: 100

/////////////////////////////////////////
// Settings for Different Font Effects //
/////////////////////////////////////////

// Europa-Bold Bold
// font-family: europa, sans-serif;
// font-weight: 700;
// font-style: normal;

// Europa-Light Light
// font-family: europa, sans-serif;
// font-weight: 300;
// font-style: normal;

// Europa-Regular Regular
// font-family: europa, sans-serif;
// font-weight: 400;
// font-style: normal;

// Europa-Light LightItalic
// font-family: europa, sans-serif;
// font-weight: 300;
// font-style: italic;

// Europa-Regular RegularItalic
// font-family: europa, sans-serif;
// font-weight: 400;
// font-style: italic;

// Europa-Bold BoldItalic
// font-family: europa, sans-serif;
// font-weight: 700;
// font-style: italic;