///////////////////////////////////////////////////////////////////////////////
// index.module.sass //////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

@import global

.index
  overflow-x: hidden
  font-family: $primaryFont
  margin-bottom: -70px
  padding: 0

////////////////////
// Header Section //
////////////////////

.header
  height: 850px
  width: auto
  margin: 0 10%

  @media (max-width: 1600px)
    height: 800px
    width: auto

  @media (max-width: 1500px)
    height: 750px
    width: auto

  @media (max-width: 1400px)
    height: 700px
    width: auto

  @media (max-width: 1300px)
    height: 650px
    width: auto

  @media (max-width: 1200px)
    height: 600px
    width: auto

  @media (max-width: 1100px)
    margin: 0 3%
    height: 550px
    width: auto

  @media (max-width: 800px)
    height: 450px
    margin: 0 1%

.header__image
  z-index: -1
  width: 600px
  position: absolute
  left: 40vw
  top: 100px
  @media (max-width: 950px)
    width: 500px !important
    top: 120px
  @media (max-width: 750px)
    width: 300px !important
.header__content
  margin-top: -400px
  margin-left: 6%
  display: flex
  flex-direction: column
  justify-content: space-between
  font-family: $primaryFont
  @media (max-width: 950px)
    margin-top: -300px
  @media (max-width: 750px)
    margin-top: -200px

.header__content__title
  @extend .headerFont
  line-height: 46px
  margin-bottom: 24px

  @media ($midBreak)
    magin-top: 12px
    margin-bottom: 0

  @media ($mobileBreak)
    width: 80%
    font-size: calc(22px + 3vw)

  @media ($smallBreak)
    font-size: calc(18px + 3vw)
    width: 70%

.header__content__title__line
  @extend .headerFont
  font-weight: 600
  margin-top: 0px
  margin-bottom: 12px

.header__content__body
  @extend .bodyFont
  line-height: 150%
  margin-top: 3%
  margin-bottom: 3%
  width: 375px
  display: flex
  flex-direction: column
  justify-content: space-between

  @media (max-width: 1200px)
    margin-top: 0px
    margin-bottom: 12px

  @media ($smallMidBreak)
    width: 315px

  @media ($smallBreak)
    width: 95%

.header__content__body__line
  margin-bottom: 7%
  @media (max-width: 1000px)
    margin-bottom: 170px
.first
  @media (max-width: 1000px)
    display: none

.header__button
  @extend .blueButton

  margin-bottom: 24px

  @media ($largeBreak)
    margin-top: 0px

.header__mobileImage
  // It's unclear why this wont work w/o impt
  display: none !important

  @media ($mobileBreak)
    display: inline-block !important
    margin-bottom: 20px

////////////////////
// Middle Section //
////////////////////

.midSection
  margin-top: 0px
  margin-left: 5%
  height: 325px
  display: flex
  flex-direction: row-reverse
  align-items: top
  justify-content: flex-end
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.1)

  @media ($mobileBreak)
    margin-top: 24px
    margin-left: 0px
    height: auto
    align-items: center
    flex-direction: column

.midSection__screenshot1
  width: 800px
  height: 440px

  @media ($mobileBreak)
    height: auto
    width: auto
    margin-bottom: 12px
    width: 90%
    box-shadow: 3px 3px 4px 1px $shadowColor

.midSection__screenshot2
  height: auto
  width: 500px
  z-index: 1
  box-shadow: 3px 3px 4px 1px $shadowColor
  margin-top: 155px
  left: -20%

  @media ($mobileBreak)
    display: none

.midSection__text
  margin-right: 5%
  // margin-left: 10%
  width: 400px
  text-align: right

  @media (max-width: 1200px)
    margin-left: 0px

  @media ($mobileBreak)
    margin-right: 0px
    width: 70%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    text-align: center

.midSection__text__title
  font-family: $primaryFont
  font-size: calc(20px + .5vw)
  font-weight: semibold
  line-height: 32px
  margin-bottom: 25px
  font-weight: 600

  @media ($mobileBreak)
    font-size: calc(18px + 3vw)
    line-height: 1em
    width: 100%

  @media (max-width: 440px)
    width: 296px

.midSection__text__body
  font-size: 16px
  letter-spacing: 0.05em

  @media ($mobileBreak)
    font-size: calc(16px + 0.5vw)
    line-height: 1em
    margin-top: 18px
    margin-right: auto
    margin-left: auto
    margin-bottom: 18px
    width: 90%
    font-family: $primaryFont
    font-style: italic

  @media (max-width: 560px)
    width: 195px

.midSection__caption
  font-family: $primaryFont
  font-size: calc(18px + 0.2vw)
  font-style: bold
  text-align: right
  color: rgba(0, 0, 0, 0.6)
  width: 35%
  margin-top: 128px
  margin-left: 15%

  @media (max-width: 1000px)
    width: 35%

  @media ($mobileBreak)
    display: none

.midSection__mobileCaption
  @extend .captionFont

  display: none

  @media ($mobileBreak)
    display: inline
    margin-bottom: 24px
    color: rgba(0, 0, 0, 0.6)
    width: 65%
    margin-left: -198px

  @media (max-width: 780px)
    margin-left: -164px

  @media (max-width: 700px)
    width: 90%
    margin-left: 0px

  @media (max-width: 480px)
    width: 80%
    align-self: flex-start
    margin-left: 20px

  @media (max-width: 336px)
    align-self: flex-start
    width: 75%
    margin-left: 20px

.midSection__swoosh
  height: 600px
  width: 900px
  margin-top: -300px
  margin-left: -64px
  z-index: -1

  @media ($mobileBreak)
    height: 500px
    width: 760px
    margin-top: -475px

  @media (max-width: 750px)
    margin-top: -480px

  @media (max-width: 600px)
    margin-top: -430px
    height: 450px
    width: 655px

  @media (max-width: 550px)
    margin-top: -430px
    height: 450px
    width: 625px

  @media (max-width: 500px)
    margin-top: -390px
    height: 400px
    width: 555px

  @media (max-width: 450px)
    margin-top: -350px
    height: 375px
    width: 500px

  @media (max-width: 400px)
    margin-top: -340px
    height: 350px
    width: 475px

  @media ($smallBreak)
    margin-top: -249px
    height: 250px
    width: 379px

/////////////////////////
// PostGenius Section //
/////////////////////////

.toolSection
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.1)
  margin-top: 264px
  padding-top: 100px
  display: flex
  flex-direction: column
  align-items: center
  background: rgba(236, 245, 252, 0.54)
  height: 475px
  @media ($mobileBreak)
    padding-top: 30px
    margin-top: 100px
    height: 520px
  h1
    font-weight: 600
    font-size: 36px
    text-align: center

.toolSection__subheader
  line-height: 20px
  margin-top: 10px
  width: 470px
  text-align: center
  color: rgba(0, 0, 0, 0.6)
  margin: 10px 4% 0

.toolSection__button
  @extend .blueButton
  font-size: 14px
  padding: 10px 22px
  @media (max-width: 800px)
    margin-top: 75px
  @media (max-width: 600px)
    margin-top: 50px

.bottomSection
  background: rgba(236, 245, 252, 0.54)
  border: none
  background-image: url('/index-ellipse.png')
  background-position: 50% -2%
  height: 397px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 0
  h1
    text-align: center
    margin: 0 7%
    color: white
    font-weight: 600

.bottomSection__button
  @extend .yellowButton
  z-index: 10
  color: #6C96E5
  margin-top: 60px
  margin-bottom: 10px