@import ../../styles/global

.whyCardGrid
  width: 100%
  max-width: 1600px
  margin-right: auto
  margin-left: auto
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: center

  @media ($mobileBreak)
    flex-direction: column
